data-model/ubl-data-model/src/main/schema/NIMBLE-UBL-2.1-Catalog-Subset/common/UBL-CommonAggregateComponents-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by ff (gg) -->
<xsd:schema xmlns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1">
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="UBL-CommonBasicComponents-2.1.xsd"/>
	<xsd:element name="AdditionalItemProperty" type="ItemPropertyType"/>
	<xsd:element name="Address" type="AddressType"/>
	<xsd:element name="Attachment" type="AttachmentType"/>
	<xsd:element name="BuyersItemIdentification" type="ItemIdentificationType"/>
	<xsd:element name="CatalogueLine" type="CatalogueLineType"/>
	<xsd:element name="Certificate" type="CertificateType"/>
	<xsd:element name="CommodityClassification" type="CommodityClassificationType"/>
	<xsd:element name="Contact" type="ContactType"/>
	<xsd:element name="ContainingPackage" type="PackageType"/>
	<xsd:element name="Country" type="CountryType"/>
	<xsd:element name="Delivery" type="DeliveryType"/>
	<xsd:element name="DeliveryAddress" type="AddressType"/>
	<xsd:element name="DeliveryTerms" type="DeliveryTermsType"/>
	<xsd:element name="Dimension" type="DimensionType"/>
	<xsd:element name="DocumentReference" type="DocumentReferenceType"/>
	<xsd:element name="EstimatedDeliveryPeriod" type="PeriodType"/>
	<xsd:element name="ExternalReference" type="ExternalReferenceType"/>
	<xsd:element name="FinancialAccount" type="FinancialAccountType"/>
	<xsd:element name="FinancialInstitution" type="FinancialInstitutionType"/>
	<xsd:element name="FinancialInstitutionBranch" type="BranchType"/>
	<xsd:element name="GoodsItem" type="GoodsItemType"/>
	<xsd:element name="IdentityDocumentReference" type="DocumentReferenceType"/>
	<xsd:element name="IssuerParty" type="PartyType"/>
	<xsd:element name="Item" type="ItemType"/>
	<xsd:element name="ItemPropertyGroup" type="ItemPropertyGroupType"/>
	<xsd:element name="ItemPropertyRange" type="ItemPropertyRangeType"/>
	<xsd:element name="ItemSpecificationDocumentReference" type="DocumentReferenceType"/>
	<xsd:element name="ManufacturersItemIdentification" type="ItemIdentificationType"/>
	<xsd:element name="ManufacturerParty" type="PartyType"/>
	<xsd:element name="MeasurementDimension" type="DimensionType"/>
	<xsd:element name="OriginCountry" type="CountryType"/>
	<xsd:element name="PartyIdentification" type="PartyIdentificationType"/>
	<xsd:element name="PartyLegalEntity" type="PartyLegalEntityType"/>
	<xsd:element name="PartyName" type="PartyNameType"/>
	<xsd:element name="QualityIndicator" type="QualityIndicatorType"/>
	<xsd:element name="PartyTaxScheme" type="PartyTaxSchemeType"/>
	<xsd:element name="PaymentMeans" type="PaymentMeansType"/>
	<xsd:element name="Person" type="PersonType"/>
	<xsd:element name="PostalAddress" type="AddressType"/>
	<xsd:element name="Price" type="PriceType"/>
	<xsd:element name="PromisedDeliveryPeriod" type="PeriodType"/>
	<xsd:element name="ProviderParty" type="PartyType"/>
	<xsd:element name="RegistrationAddress" type="AddressType"/>
	<xsd:element name="RequiredItemLocationQuantity" type="ItemLocationQuantityType"/>
	<xsd:element name="Shipment" type="ShipmentType"/>
	<xsd:element name="ShipmentStage" type="ShipmentStageType"/>
	<xsd:element name="StandardItemIdentification" type="ItemIdentificationType"/>
	<xsd:element name="TaxScheme" type="TaxSchemeType"/>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element ref="cbc:Postbox" minOccurs="0"/>
			<xsd:element ref="cbc:StreetName" minOccurs="0"/>
			<xsd:element ref="cbc:CityName" minOccurs="0"/>
			<xsd:element ref="cbc:Region" minOccurs="0"/>
			<xsd:element ref="cbc:District" minOccurs="0"/>
			<xsd:element ref="cac:Country" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttachmentType">
		<xsd:sequence>
			<xsd:element ref="cbc:EmbeddedDocumentBinaryObject" minOccurs="0"/>
			<xsd:element ref="cac:ExternalReference" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BranchType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0"/>
			<xsd:element ref="cbc:Name" minOccurs="0"/>
			<xsd:element ref="cac:FinancialInstitution" minOccurs="0"/>
			<xsd:element ref="cac:Address" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CatalogueLineType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID"/>
			<xsd:element ref="cbc:OrderableUnit" minOccurs="0"/>
			<xsd:element ref="cbc:ContentUnitQuantity" minOccurs="0"/>
			<xsd:element ref="cac:RequiredItemLocationQuantity"/>
			<xsd:element ref="cac:GoodsItem"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CertificateType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID"/>
			<xsd:element ref="cbc:CertificateTypeCode"/>
			<xsd:element ref="cbc:CertificateType"/>
			<xsd:element ref="cac:IssuerParty"/>
			<xsd:element ref="cac:DocumentReference" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommodityClassificationType">
		<xsd:sequence>
			<xsd:element ref="cbc:NatureCode" minOccurs="0"/>
			<xsd:element ref="cbc:CargoTypeCode" minOccurs="0"/>
			<xsd:element ref="cbc:ItemClassificationCode" minOccurs="0"/>
			<xsd:element ref="cbc:ItemPropertyURI" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactType">
		<xsd:sequence>
			<xsd:element ref="cbc:Telephone" minOccurs="0"/>
			<xsd:element ref="cbc:ElectronicMail" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CountryType">
		<xsd:sequence>
			<xsd:element ref="cbc:IdentificationCode" minOccurs="0"/>
			<xsd:element ref="cbc:Name" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryTermsType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0"/>
			<xsd:element ref="cbc:SpecialTerms" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:Delivery" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryType">
		<xsd:sequence>
			<xsd:element ref="cac:DeliveryAddress" minOccurs="0"/>
			<xsd:element ref="cac:EstimatedDeliveryPeriod" minOccurs="0"/>
			<xsd:element ref="cac:PromisedDeliveryPeriod" minOccurs="0"/>
			<xsd:element ref="cac:DeliveryTerms" minOccurs="0"/>
			<xsd:element ref="cac:Shipment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DimensionType">
		<xsd:sequence>
			<xsd:element ref="cbc:AttributeID"/>
			<xsd:element ref="cbc:Measure" minOccurs="0"/>
			<xsd:element ref="cbc:Description" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentReferenceType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID"/>
			<xsd:element ref="cbc:IssueDate" minOccurs="0"/>
			<xsd:element ref="cbc:DocumentType" minOccurs="0"/>
			<xsd:element ref="cbc:DocumentDescription" minOccurs="0"/>
			<xsd:element ref="cac:Attachment" minOccurs="0"/>
			<xsd:element ref="cac:IssuerParty" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExternalReferenceType">
		<xsd:sequence>
			<xsd:element ref="cbc:URI" minOccurs="0"/>
			<xsd:element ref="cbc:FileName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FinancialAccountType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0"/>
			<xsd:element ref="cbc:Name" minOccurs="0"/>
			<xsd:element ref="cbc:AccountTypeCode" minOccurs="0"/>
			<xsd:element ref="cbc:AccountFormatCode" minOccurs="0"/>
			<xsd:element ref="cbc:CurrencyCode" minOccurs="0"/>
			<xsd:element ref="cac:FinancialInstitutionBranch" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FinancialInstitutionType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0"/>
			<xsd:element ref="cbc:Name" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GoodsItemType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID"/>
			<xsd:element ref="cac:Item" minOccurs="0"/>
			<xsd:element ref="cac:ContainingPackage" minOccurs="0"/>
			<xsd:element ref="cac:Delivery" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemIdentificationType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemLocationQuantityType">
		<xsd:sequence>
			<xsd:element ref="cac:Price" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemPropertyType">
		<xsd:sequence>
			<xsd:element ref="cbc:Name"/>
			<xsd:element ref="cbc:Value" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:ValueQuantity" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:EmbeddedDocumentBinaryObject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:ValueQualifier" minOccurs="0"/>
			<xsd:element ref="cac:ItemPropertyGroup" minOccurs="0"/>
			<xsd:element ref="cac:ItemPropertyRange" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemPropertyGroupType">
		<xsd:sequence>
			<xsd:element ref="cbc:Name" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemPropertyRangeType">
		<xsd:sequence>
			<xsd:element ref="cbc:MinimumValue" minOccurs="0"/>
			<xsd:element ref="cbc:MaximumValue" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemType">
		<xsd:sequence>
			<xsd:element ref="cbc:Description" minOccurs="0"/>
			<xsd:element ref="cbc:PackQuantity" minOccurs="0"/>
			<xsd:element ref="cbc:PackSizeNumeric" minOccurs="0"/>
			<xsd:element ref="cbc:Name" minOccurs="0"/>
			<xsd:element ref="cbc:AdditionalInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:Keyword" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:BrandName" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:ModelName" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:FreeOfChargeIndicator" minOccurs="0"/>
			<xsd:element ref="cac:BuyersItemIdentification" minOccurs="0"/>
			<xsd:element ref="cac:ManufacturersItemIdentification" minOccurs="0"/>
			<xsd:element ref="cac:StandardItemIdentification" minOccurs="0"/>
			<xsd:element ref="cac:ItemSpecificationDocumentReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:OriginCountry" minOccurs="0"/>
			<xsd:element ref="cac:CommodityClassification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:AdditionalItemProperty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:ManufacturerParty" minOccurs="0"/>
			<xsd:element ref="cac:Certificate" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:Dimension" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageType">
		<xsd:sequence>
			<xsd:element ref="cbc:Quantity" minOccurs="0"/>
			<xsd:element ref="cbc:PackagingTypeCode" minOccurs="0"/>
			<xsd:element ref="cac:MeasurementDimension" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID"/>
			<xsd:element ref="cbc:WebsiteURI" minOccurs="0"/>
			<xsd:element ref="cbc:IndustryClassificationCode" minOccurs="0"/>
			<xsd:element ref="cbc:ExternalAward" minOccurs="0"/>
			<xsd:element ref="cac:PartyName" minOccurs="0"/>
			<xsd:element ref="cac:PostalAddress" minOccurs="0"/>
			<xsd:element ref="cac:PartyTaxScheme" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:PartyLegalEntity" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:Contact" minOccurs="0"/>
			<xsd:element ref="cac:Person" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:FinancialAccount" minOccurs="0"/>
			<xsd:element ref="cac:Certificate" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:QualityIndicator" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:PaymentMeans" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:DeliveryTerms" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyIdentificationType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyLegalEntityType">
		<xsd:sequence>
			<xsd:element ref="cbc:RegistrationName" minOccurs="0"/>
			<xsd:element ref="cbc:CompanyID" minOccurs="0"/>
			<xsd:element ref="cbc:RegistrationDate" minOccurs="0"/>
			<xsd:element ref="cbc:RegistrationExpirationDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QualityIndicatorType">
		<xsd:sequence>
			<xsd:element ref="cbc:QualityParameter"/>
			<xsd:element ref="cbc:Quantity"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyNameType">
		<xsd:sequence>
			<xsd:element ref="cbc:Name"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyTaxSchemeType">
		<xsd:sequence>
			<xsd:element ref="cbc:RegistrationName" minOccurs="0"/>
			<xsd:element ref="cbc:CompanyID" minOccurs="0"/>
			<xsd:element ref="cbc:TaxLevelCode" minOccurs="0"/>
			<xsd:element ref="cbc:ExemptionReasonCode" minOccurs="0"/>
			<xsd:element ref="cbc:ExemptionReason" minOccurs="0"/>
			<xsd:element ref="cac:RegistrationAddress" minOccurs="0"/>
			<xsd:element ref="cac:TaxScheme"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentMeansType">
		<xsd:sequence>
			<xsd:element ref="cbc:PaymentMeansCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeriodType">
		<xsd:sequence>
			<xsd:element ref="cbc:StartDate" minOccurs="0"/>
			<xsd:element ref="cbc:EndDate" minOccurs="0"/>
			<xsd:element ref="cbc:DurationMeasure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0"/>
			<xsd:element ref="cbc:FirstName" minOccurs="0"/>
			<xsd:element ref="cbc:FamilyName" minOccurs="0"/>
			<xsd:element ref="cbc:Title" minOccurs="0"/>
			<xsd:element ref="cbc:JobTitle" minOccurs="0"/>
			<xsd:element ref="cbc:NationalityID" minOccurs="0"/>
			<xsd:element ref="cbc:OrganizationDepartment" minOccurs="0"/>
			<xsd:element ref="cac:Contact" minOccurs="0"/>
			<xsd:element ref="cac:IdentityDocumentReference" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PriceType">
		<xsd:sequence>
			<xsd:element ref="cbc:PriceAmount"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentType">
		<xsd:sequence>
			<xsd:element ref="cac:GoodsItem" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:ShipmentStage" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentStageType">
		<xsd:sequence>
			<xsd:element ref="cbc:TransportModeCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxSchemeType">
		<xsd:sequence>
			<xsd:element ref="cbc:Name" minOccurs="0"/>
			<xsd:element ref="cbc:TaxTypeCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
