data-model/ubl-data-model/src/main/schema/NIMBLE-UBL-2.1/common/UBL-CommonBasicComponents-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1">
	<xsd:element name="AcceptedIndicator" type="xsd:boolean"/>
	<xsd:element name="AcceptedVariantsDescription" type="xsd:decimal"/>
	<xsd:element name="AccountFormatCode" type="CodeType"/>
	<xsd:element name="AccountID" type="xsd:string"/>
	<xsd:element name="AccountTypeCode" type="CodeType"/>
	<xsd:element name="AccountingCost" type="xsd:string"/>
	<xsd:element name="AccountingCostCode" type="CodeType"/>
	<xsd:element name="ActionCode" type="CodeType"/>
	<xsd:element name="ActivityType" type="xsd:string"/>
	<xsd:element name="ActivityTypeCode" type="CodeType"/>
	<xsd:element name="ActualDeliveryDate" type="xsd:date"/>
	<xsd:element name="ActualDeliveryTime" type="xsd:time"/>
	<xsd:element name="ActualDespatchDate" type="xsd:date"/>
	<xsd:element name="ActualDespatchTime" type="xsd:time"/>
	<xsd:element name="ActualPickupDate" type="xsd:date"/>
	<xsd:element name="ActualPickupTime" type="xsd:time"/>
	<xsd:element name="ActualTemperatureReductionQuantity" type="QuantityType"/>
	<xsd:element name="AdValoremIndicator" type="xsd:boolean"/>
	<xsd:element name="AdditionalAccountID" type="xsd:string"/>
	<xsd:element name="AdditionalConditions" type="xsd:string"/>
	<xsd:element name="AdditionalInformation" type="xsd:string"/>
	<xsd:element name="AdditionalStreetName" type="xsd:string"/>
	<xsd:element name="AddressFormatCode" type="CodeType"/>
	<xsd:element name="AddressTypeCode" type="CodeType"/>
	<xsd:element name="AdjustmentReasonCode" type="CodeType"/>
	<xsd:element name="AdmissionCode" type="CodeType"/>
	<xsd:element name="AdvertisementAmount" type="AmountType"/>
	<xsd:element name="AgencyID" type="xsd:string"/>
	<xsd:element name="AgencyName" type="xsd:string"/>
	<xsd:element name="AirFlowPercent" type="xsd:decimal"/>
	<xsd:element name="AircraftID" type="xsd:string"/>
	<xsd:element name="AliasName" type="xsd:string"/>
	<xsd:element name="AllowanceChargeReason" type="xsd:string"/>
	<xsd:element name="AllowanceChargeReasonCode" type="CodeType"/>
	<xsd:element name="AllowanceTotalAmount" type="AmountType"/>
	<xsd:element name="AltitudeMeasure" type="QuantityType"/>
	<xsd:element name="Amount" type="AmountType"/>
	<xsd:element name="AmountRate" type="xsd:decimal"/>
	<xsd:element name="AnimalFoodApprovedIndicator" type="xsd:boolean"/>
	<xsd:element name="AnimalFoodIndicator" type="xsd:boolean"/>
	<xsd:element name="AnnualAverageAmount" type="AmountType"/>
	<xsd:element name="ApplicationStatusCode" type="CodeType"/>
	<xsd:element name="ApprovalDate" type="xsd:date"/>
	<xsd:element name="ApprovalStatus" type="xsd:string"/>
	<xsd:element name="AttributeID" type="xsd:string"/>
	<xsd:element name="AuctionConstraintIndicator" type="xsd:boolean"/>
	<xsd:element name="AuctionURI" type="xsd:string"/>
	<xsd:element name="AvailabilityDate" type="xsd:date"/>
	<xsd:element name="AvailabilityStatusCode" type="CodeType"/>
	<xsd:element name="AverageAmount" type="AmountType"/>
	<xsd:element name="AverageSubsequentContractAmount" type="AmountType"/>
	<xsd:element name="AwardDate" type="xsd:date"/>
	<xsd:element name="AwardTime" type="xsd:time"/>
	<xsd:element name="AwardingCriterionDescription" type="xsd:decimal"/>
	<xsd:element name="AwardingCriterionID" type="xsd:string"/>
	<xsd:element name="AwardingCriterionTypeCode" type="CodeType"/>
	<xsd:element name="AwardingMethodTypeCode" type="CodeType"/>
	<xsd:element name="BackOrderAllowedIndicator" type="xsd:boolean"/>
	<xsd:element name="BackorderQuantity" type="QuantityType"/>
	<xsd:element name="BackorderReason" type="xsd:string"/>
	<xsd:element name="BalanceAmount" type="AmountType"/>
	<xsd:element name="BalanceBroughtForwardIndicator" type="xsd:boolean"/>
	<xsd:element name="BarcodeSymbologyID" type="xsd:string"/>
	<xsd:element name="BaseAmount" type="AmountType"/>
	<xsd:element name="BaseQuantity" type="QuantityType"/>
	<xsd:element name="BaseUnitMeasure" type="QuantityType"/>
	<xsd:element name="BasedOnConsensusIndicator" type="xsd:boolean"/>
	<xsd:element name="BasicConsumedQuantity" type="QuantityType"/>
	<xsd:element name="BatchQuantity" type="QuantityType"/>
	<xsd:element name="BestBeforeDate" type="xsd:date"/>
	<xsd:element name="BindingOnBuyerIndicator" type="xsd:boolean"/>
	<xsd:element name="BirthDate" type="xsd:date"/>
	<xsd:element name="BirthplaceName" type="xsd:string"/>
	<xsd:element name="BlockName" type="xsd:string"/>
	<xsd:element name="BrandName" type="xsd:string"/>
	<xsd:element name="BrokerAssignedID" type="xsd:string"/>
	<xsd:element name="BudgetYearNumeric" type="xsd:decimal"/>
	<xsd:element name="BuildingName" type="xsd:string"/>
	<xsd:element name="BuildingNumber" type="xsd:string"/>
	<xsd:element name="BulkCargoIndicator" type="xsd:boolean"/>
	<xsd:element name="BusinessClassificationEvidenceID" type="xsd:string"/>
	<xsd:element name="BusinessIdentityEvidenceID" type="xsd:string"/>
	<xsd:element name="BuyerEventID" type="xsd:string"/>
	<xsd:element name="BuyerProfileURI" type="xsd:string"/>
	<xsd:element name="BuyerReference" type="xsd:string"/>
	<xsd:element name="CV2ID" type="xsd:string"/>
	<xsd:element name="CalculationExpression" type="xsd:string"/>
	<xsd:element name="CalculationExpressionCode" type="CodeType"/>
	<xsd:element name="CalculationMethodCode" type="CodeType"/>
	<xsd:element name="CalculationRate" type="xsd:decimal"/>
	<xsd:element name="CalculationSequenceNumeric" type="xsd:decimal"/>
	<xsd:element name="CallBaseAmount" type="AmountType"/>
	<xsd:element name="CallDate" type="xsd:date"/>
	<xsd:element name="CallExtensionAmount" type="AmountType"/>
	<xsd:element name="CallTime" type="xsd:time"/>
	<xsd:element name="CancellationNote" type="xsd:string"/>
	<xsd:element name="CandidateReductionConstraintIndicator" type="xsd:boolean"/>
	<xsd:element name="CandidateStatement" type="xsd:string"/>
	<xsd:element name="CanonicalizationMethod" type="xsd:string"/>
	<xsd:element name="CapabilityTypeCode" type="CodeType"/>
	<xsd:element name="CardChipCode" type="CodeType"/>
	<xsd:element name="CardTypeCode" type="CodeType"/>
	<xsd:element name="CargoTypeCode" type="CodeType"/>
	<xsd:element name="CarrierAssignedID" type="xsd:string"/>
	<xsd:element name="CarrierServiceInstructions" type="xsd:string"/>
	<xsd:element name="CatalogueIndicator" type="xsd:boolean"/>
	<xsd:element name="CategoryName" type="xsd:string"/>
	<xsd:element name="CertificateType" type="xsd:string"/>
	<xsd:element name="CertificateTypeCode" type="CodeType"/>
	<xsd:element name="ChangeConditions" type="xsd:string"/>
	<xsd:element name="Channel" type="xsd:string"/>
	<xsd:element name="ChannelCode" type="CodeType"/>
	<xsd:element name="CharacterSetCode" type="CodeType"/>
	<xsd:element name="Characteristics" type="xsd:string"/>
	<xsd:element name="ChargeIndicator" type="xsd:boolean"/>
	<xsd:element name="ChargeTotalAmount" type="AmountType"/>
	<xsd:element name="ChargeableQuantity" type="QuantityType"/>
	<xsd:element name="ChargeableWeightMeasure" type="QuantityType"/>
	<xsd:element name="ChildConsignmentQuantity" type="QuantityType"/>
	<xsd:element name="ChipApplicationID" type="xsd:string"/>
	<xsd:element name="CityName" type="xsd:string"/>
	<xsd:element name="CitySubdivisionName" type="xsd:string"/>
	<xsd:element name="CodeValue" type="xsd:string"/>
	<xsd:element name="CollaborationPriorityCode" type="CodeType"/>
	<xsd:element name="Comment" type="xsd:string"/>
	<xsd:element name="CommodityCode" type="CodeType"/>
	<xsd:element name="CompanyID" type="xsd:string"/>
	<xsd:element name="CompanyLegalForm" type="xsd:string"/>
	<xsd:element name="CompanyLegalFormCode" type="CodeType"/>
	<xsd:element name="CompanyLiquidationStatusCode" type="CodeType"/>
	<xsd:element name="ComparedValueMeasure" type="QuantityType"/>
	<xsd:element name="ComparisonDataCode" type="CodeType"/>
	<xsd:element name="ComparisonDataSourceCode" type="CodeType"/>
	<xsd:element name="ComparisonForecastIssueDate" type="xsd:date"/>
	<xsd:element name="ComparisonForecastIssueTime" type="xsd:time"/>
	<xsd:element name="CompletionIndicator" type="xsd:boolean"/>
	<xsd:element name="Condition" type="xsd:string"/>
	<xsd:element name="ConditionCode" type="CodeType"/>
	<xsd:element name="Conditions" type="xsd:string"/>
	<xsd:element name="ConditionsDescription" type="xsd:decimal"/>
	<xsd:element name="ConsigneeAssignedID" type="xsd:string"/>
	<xsd:element name="ConsignmentQuantity" type="QuantityType"/>
	<xsd:element name="ConsignorAssignedID" type="xsd:string"/>
	<xsd:element name="ConsolidatableIndicator" type="xsd:boolean"/>
	<xsd:element name="ConstitutionCode" type="CodeType"/>
	<xsd:element name="ConsumerIncentiveTacticTypeCode" type="CodeType"/>
	<xsd:element name="ConsumerUnitQuantity" type="QuantityType"/>
	<xsd:element name="ConsumersEnergyLevel" type="xsd:string"/>
	<xsd:element name="ConsumersEnergyLevelCode" type="CodeType"/>
	<xsd:element name="ConsumptionEnergyQuantity" type="QuantityType"/>
	<xsd:element name="ConsumptionID" type="xsd:string"/>
	<xsd:element name="ConsumptionLevel" type="xsd:string"/>
	<xsd:element name="ConsumptionLevelCode" type="CodeType"/>
	<xsd:element name="ConsumptionReportID" type="xsd:string"/>
	<xsd:element name="ConsumptionType" type="xsd:string"/>
	<xsd:element name="ConsumptionTypeCode" type="CodeType"/>
	<xsd:element name="ConsumptionWaterQuantity" type="QuantityType"/>
	<xsd:element name="ContainerizedIndicator" type="xsd:boolean"/>
	<xsd:element name="Content" type="xsd:string"/>
	<xsd:element name="ContentUnitQuantity" type="QuantityType"/>
	<xsd:element name="ContractFolderID" type="xsd:string"/>
	<xsd:element name="ContractName" type="xsd:string"/>
	<xsd:element name="ContractSubdivision" type="xsd:string"/>
	<xsd:element name="ContractType" type="xsd:string"/>
	<xsd:element name="ContractTypeCode" type="CodeType"/>
	<xsd:element name="ContractedCarrierAssignedID" type="xsd:string"/>
	<xsd:element name="ContractingSystemCode" type="CodeType"/>
	<xsd:element name="CoordinateSystemCode" type="CodeType"/>
	<xsd:element name="CopyIndicator" type="xsd:boolean"/>
	<xsd:element name="CorporateRegistrationTypeCode" type="CodeType"/>
	<xsd:element name="CorporateStockAmount" type="AmountType"/>
	<xsd:element name="CorrectionAmount" type="AmountType"/>
	<xsd:element name="CorrectionType" type="xsd:string"/>
	<xsd:element name="CorrectionTypeCode" type="CodeType"/>
	<xsd:element name="CorrectionUnitAmount" type="AmountType"/>
	<xsd:element name="CountrySubentity" type="xsd:string"/>
	<xsd:element name="CountrySubentityCode" type="CodeType"/>
	<xsd:element name="CreditLineAmount" type="AmountType"/>
	<xsd:element name="CreditNoteTypeCode" type="CodeType"/>
	<xsd:element name="CreditedQuantity" type="QuantityType"/>
	<xsd:element name="CrewQuantity" type="QuantityType"/>
	<xsd:element name="CurrencyCode" type="CodeType"/>
	<xsd:element name="CurrentChargeType" type="xsd:string"/>
	<xsd:element name="CurrentChargeTypeCode" type="CodeType"/>
	<xsd:element name="CustomerAssignedAccountID" type="xsd:string"/>
	<xsd:element name="CustomerReference" type="xsd:string"/>
	<xsd:element name="CustomizationID" type="xsd:string"/>
	<xsd:element name="CustomsClearanceServiceInstructions" type="xsd:string"/>
	<xsd:element name="CustomsImportClassifiedIndicator" type="xsd:boolean"/>
	<xsd:element name="CustomsStatusCode" type="CodeType"/>
	<xsd:element name="CustomsTariffQuantity" type="QuantityType"/>
	<xsd:element name="DamageRemarks" type="xsd:string"/>
	<xsd:element name="DangerousGoodsApprovedIndicator" type="xsd:boolean"/>
	<xsd:element name="DataSendingCapability" type="xsd:string"/>
	<xsd:element name="DataSourceCode" type="CodeType"/>
	<xsd:element name="Date" type="xsd:date"/>
	<xsd:element name="DebitLineAmount" type="AmountType"/>
	<xsd:element name="DebitedQuantity" type="QuantityType"/>
	<xsd:element name="DeclarationTypeCode" type="CodeType"/>
	<xsd:element name="DeclaredCarriageValueAmount" type="AmountType"/>
	<xsd:element name="DeclaredCustomsValueAmount" type="AmountType"/>
	<xsd:element name="DeclaredForCarriageValueAmount" type="AmountType"/>
	<xsd:element name="DeclaredStatisticsValueAmount" type="AmountType"/>
	<xsd:element name="DeliveredQuantity" type="QuantityType"/>
	<xsd:element name="DeliveryInstructions" type="xsd:string"/>
	<!-- TODO remove the demo-specific element -->
	<xsd:element name="DemoSpecificMultipleContent" type="xsd:string"/>
	<xsd:element name="DemurrageInstructions" type="xsd:string"/>
	<xsd:element name="Department" type="xsd:string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="DescriptionCode" type="CodeType"/>
	<xsd:element name="DespatchAdviceTypeCode" type="CodeType"/>
	<xsd:element name="DifferenceTemperatureReductionQuantity" type="QuantityType"/>
	<xsd:element name="DirectionCode" type="CodeType"/>
	<xsd:element name="DisplayTacticTypeCode" type="CodeType"/>
	<xsd:element name="DispositionCode" type="CodeType"/>
	<xsd:element name="District" type="xsd:string"/>
	<xsd:element name="DocumentCurrencyCode" type="CodeType"/>
	<xsd:element name="DocumentDescription" type="xsd:decimal"/>
	<xsd:element name="DocumentHash" type="xsd:string"/>
	<xsd:element name="DocumentID" type="xsd:string"/>
	<xsd:element name="DocumentStatusCode" type="CodeType"/>
	<xsd:element name="DocumentStatusReasonCode" type="CodeType"/>
	<xsd:element name="DocumentStatusReasonDescription" type="xsd:decimal"/>
	<xsd:element name="DocumentType" type="xsd:string"/>
	<xsd:element name="DocumentTypeCode" type="CodeType"/>
	<xsd:element name="DocumentationFeeAmount" type="AmountType"/>
	<xsd:element name="DueDate" type="xsd:date"/>
	<xsd:element name="DurationMeasure" type="QuantityType"/>
	<xsd:element name="Duty" type="xsd:string"/>
	<xsd:element name="DutyCode" type="CodeType"/>
	<xsd:element name="EarliestPickupDate" type="xsd:date"/>
	<xsd:element name="EarliestPickupTime" type="xsd:time"/>
	<xsd:element name="EconomicOperatorRegistryURI" type="xsd:string"/>
	<xsd:element name="EffectiveDate" type="xsd:date"/>
	<xsd:element name="EffectiveTime" type="xsd:time"/>
	<xsd:element name="ElectronicDeviceDescription" type="xsd:decimal"/>
	<xsd:element name="ElectronicMail" type="xsd:string"/>
	<xsd:element name="EmbeddedDocumentBinaryObject" type="BinaryObjectType"/>
	<xsd:element name="EmergencyProceduresCode" type="CodeType"/>
	<xsd:element name="EmployeeQuantity" type="QuantityType"/>
	<xsd:element name="EncodingCode" type="CodeType"/>
	<xsd:element name="EndDate" type="xsd:date"/>
	<xsd:element name="EndTime" type="xsd:time"/>
	<xsd:element name="EndpointID" type="xsd:string"/>
	<xsd:element name="EnvironmentalEmissionTypeCode" type="CodeType"/>
	<xsd:element name="EstimatedAmount" type="AmountType"/>
	<xsd:element name="EstimatedConsumedQuantity" type="QuantityType"/>
	<xsd:element name="EstimatedDeliveryDate" type="xsd:date"/>
	<xsd:element name="EstimatedDeliveryTime" type="xsd:time"/>
	<xsd:element name="EstimatedDespatchDate" type="xsd:date"/>
	<xsd:element name="EstimatedDespatchTime" type="xsd:time"/>
	<xsd:element name="EstimatedOverallContractAmount" type="AmountType"/>
	<xsd:element name="EstimatedOverallContractQuantity" type="QuantityType"/>
	<xsd:element name="EvaluationCriterionTypeCode" type="CodeType"/>
	<xsd:element name="EvidenceTypeCode" type="CodeType"/>
	<xsd:element name="ExceptionResolutionCode" type="CodeType"/>
	<xsd:element name="ExceptionStatusCode" type="CodeType"/>
	<xsd:element name="ExchangeMarketID" type="xsd:string"/>
	<xsd:element name="ExclusionReason" type="xsd:string"/>
	<xsd:element name="ExecutionRequirementCode" type="CodeType"/>
	<xsd:element name="ExemptionReason" type="xsd:string"/>
	<xsd:element name="ExemptionReasonCode" type="CodeType"/>
	<xsd:element name="ExpectedOperatorQuantity" type="QuantityType"/>
	<xsd:element name="ExpectedQuantity" type="QuantityType"/>
	<xsd:element name="ExpenseCode" type="CodeType"/>
	<xsd:element name="ExpiryDate" type="xsd:date"/>
	<xsd:element name="ExpiryTime" type="xsd:time"/>
	<xsd:element name="Expression" type="xsd:string"/>
	<xsd:element name="ExpressionCode" type="CodeType"/>
	<xsd:element name="ExtendedID" type="xsd:string"/>
	<xsd:element name="Extension" type="xsd:string"/>
	<xsd:element name="ExternalAward" type="xsd:string"/>
	<xsd:element name="FaceValueAmount" type="AmountType"/>
	<xsd:element name="FacilityDetails" type="xsd:string"/>	
	<xsd:element name="FamilyName" type="xsd:string"/>
	<xsd:element name="FeatureTacticTypeCode" type="CodeType"/>
	<xsd:element name="FeeAmount" type="AmountType"/>
	<xsd:element name="FeeDescription" type="xsd:decimal"/>
	<xsd:element name="FileName" type="xsd:string"/>
	<xsd:element name="FinancingInstrumentCode" type="CodeType"/>
	<xsd:element name="FirstName" type="xsd:string"/>
	<xsd:element name="FirstShipmentAvailibilityDate" type="xsd:date"/>
	<xsd:element name="Floor" type="xsd:string"/>
	<xsd:element name="FollowupContractIndicator" type="xsd:boolean"/>
	<xsd:element name="ForecastPurposeCode" type="CodeType"/>
	<xsd:element name="ForecastTypeCode" type="CodeType"/>
	<xsd:element name="FormatCode" type="CodeType"/>
	<xsd:element name="ForwarderServiceInstructions" type="xsd:string"/>
	<xsd:element name="FreeOfChargeIndicator" type="xsd:boolean"/>
	<xsd:element name="FreeOnBoardValueAmount" type="AmountType"/>
	<xsd:element name="FreightForwarderAssignedID" type="xsd:string"/>
	<xsd:element name="FreightRateClassCode" type="CodeType"/>
	<xsd:element name="Frequency" type="xsd:string"/>
	<xsd:element name="FrozenDocumentIndicator" type="xsd:boolean"/>
	<xsd:element name="FrozenPeriodDaysNumeric" type="xsd:decimal"/>
	<xsd:element name="FullnessIndicationCode" type="CodeType"/>
	<xsd:element name="FullyPaidSharesIndicator" type="xsd:boolean"/>
	<xsd:element name="FundingProgram" type="xsd:string"/>
	<xsd:element name="FundingProgramCode" type="CodeType"/>
	<xsd:element name="GasPressureQuantity" type="QuantityType"/>
	<xsd:element name="GenderCode" type="CodeType"/>
	<xsd:element name="GeneralCargoIndicator" type="xsd:boolean"/>
	<xsd:element name="GovernmentAgreementConstraintIndicator" type="xsd:boolean"/>
	<xsd:element name="GrossTonnageMeasure" type="QuantityType"/>
	<xsd:element name="GrossVolumeMeasure" type="QuantityType"/>
	<xsd:element name="GrossWeightMeasure" type="QuantityType"/>
	<xsd:element name="GuaranteeTypeCode" type="CodeType"/>
	<xsd:element name="GuaranteedDespatchDate" type="xsd:date"/>
	<xsd:element name="GuaranteedDespatchTime" type="xsd:time"/>
	<xsd:element name="HandlingCode" type="CodeType"/>
	<xsd:element name="HandlingInstructions" type="xsd:string"/>
	<xsd:element name="HashAlgorithmMethod" type="xsd:string"/>
	<xsd:element name="HaulageInstructions" type="xsd:string"/>
	<xsd:element name="HazardClassID" type="xsd:string"/>
	<xsd:element name="HazardousCategoryCode" type="CodeType"/>
	<xsd:element name="HazardousRegulationCode" type="CodeType"/>
	<xsd:element name="HazardousRiskIndicator" type="xsd:boolean"/>
	<xsd:element name="HeatingType" type="xsd:string"/>
	<xsd:element name="HeatingTypeCode" type="CodeType"/>
	<xsd:element name="HigherTenderAmount" type="AmountType"/>
	<xsd:element name="HolderName" type="xsd:string"/>
	<xsd:element name="HumanFoodApprovedIndicator" type="xsd:boolean"/>
	<xsd:element name="HumanFoodIndicator" type="xsd:boolean"/>
	<xsd:element name="HumidityPercent" type="xsd:decimal"/>
	<xsd:element name="ID" type="xsd:string"/>
	<xsd:element name="IdentificationCode" type="CodeType"/>
	<xsd:element name="IdentificationID" type="xsd:string"/>
	<xsd:element name="ImmobilizationCertificateID" type="xsd:string"/>
	<xsd:element name="ImportanceCode" type="CodeType"/>
	<xsd:element name="Incoterms" type="xsd:string"/>	
	<xsd:element name="IndicationIndicator" type="xsd:boolean"/>
	<xsd:element name="IndustryClassificationCode" type="CodeType"/>
	<xsd:element name="Information" type="xsd:string"/>
	<xsd:element name="InformationURI" type="xsd:string"/>
	<xsd:element name="InhalationToxicityZoneCode" type="CodeType"/>
	<xsd:element name="InhouseMail" type="xsd:string"/>
	<xsd:element name="InspectionMethodCode" type="CodeType"/>
	<xsd:element name="InstallmentDueDate" type="xsd:date"/>
	<xsd:element name="InstructionID" type="xsd:string"/>
	<xsd:element name="InstructionNote" type="xsd:string"/>
	<xsd:element name="Instructions" type="xsd:string"/>
	<xsd:element name="InsurancePremiumAmount" type="AmountType"/>
	<xsd:element name="InsuranceValueAmount" type="AmountType"/>
	<xsd:element name="InventoryValueAmount" type="AmountType"/>
	<xsd:element name="InvoiceTypeCode" type="CodeType"/>
	<xsd:element name="InvoicedQuantity" type="QuantityType"/>
	<xsd:element name="InvoicingPartyReference" type="xsd:string"/>
	<xsd:element name="IssueDate" type="xsd:date"/>
	<xsd:element name="IssueNumberID" type="xsd:string"/>
	<xsd:element name="IssueTime" type="xsd:time"/>
	<xsd:element name="IssuerID" type="xsd:string"/>
	<xsd:element name="ItemClassificationCode" type="CodeType"/>
	<!-- TODO remove the demo-specific element -->
	<xsd:element name="ItemConfigurationImages" type="xsd:string"/>
	<xsd:element name="ItemPropertyURI" type="xsd:string"/>
	<xsd:element name="ItemUpdateRequestIndicator" type="xsd:boolean"/>
	<xsd:element name="JobTitle" type="xsd:string"/>
	<xsd:element name="JourneyID" type="xsd:string"/>
	<xsd:element name="Justification" type="xsd:string"/>
	<xsd:element name="JustificationDescription" type="xsd:decimal"/>
	<xsd:element name="Keyword" type="xsd:string"/>
	<xsd:element name="LanguageID" type="xsd:string"/>
	<xsd:element name="LastRevisionDate" type="xsd:date"/>
	<xsd:element name="LastRevisionTime" type="xsd:time"/>
	<xsd:element name="LatestDeliveryDate" type="xsd:date"/>
	<xsd:element name="LatestDeliveryTime" type="xsd:time"/>
	<xsd:element name="LatestMeterQuantity" type="QuantityType"/>
	<xsd:element name="LatestMeterReadingDate" type="xsd:date"/>
	<xsd:element name="LatestMeterReadingMethod" type="xsd:string"/>
	<xsd:element name="LatestMeterReadingMethodCode" type="CodeType"/>
	<xsd:element name="LatestPickupDate" type="xsd:date"/>
	<xsd:element name="LatestPickupTime" type="xsd:time"/>
	<xsd:element name="LatestProposalAcceptanceDate" type="xsd:date"/>
	<xsd:element name="LatestSecurityClearanceDate" type="xsd:date"/>
	<xsd:element name="LatitudeDegreesMeasure" type="QuantityType"/>
	<xsd:element name="LatitudeDirectionCode" type="CodeType"/>
	<xsd:element name="LatitudeMinutesMeasure" type="QuantityType"/>
	<xsd:element name="LeadTimeMeasure" type="QuantityType"/>
	<xsd:element name="LegalReference" type="xsd:string"/>
	<xsd:element name="LegalStatusIndicator" type="xsd:boolean"/>
	<xsd:element name="LiabilityAmount" type="AmountType"/>
	<xsd:element name="LicensePlateID" type="xsd:string"/>
	<xsd:element name="LifeCycleStatusCode" type="CodeType"/>
	<xsd:element name="LimitationDescription" type="xsd:decimal"/>
	<xsd:element name="Line" type="xsd:string"/>
	<xsd:element name="LineCountNumeric" type="xsd:decimal"/>
	<xsd:element name="LineExtensionAmount" type="AmountType"/>
	<xsd:element name="LineID" type="xsd:string"/>
	<xsd:element name="LineNumberNumeric" type="xsd:decimal"/>
	<xsd:element name="LineStatusCode" type="CodeType"/>
	<xsd:element name="ListValue" type="xsd:string"/>
	<xsd:element name="LivestockIndicator" type="xsd:boolean"/>
	<xsd:element name="LoadingLengthMeasure" type="QuantityType"/>
	<xsd:element name="LoadingSequenceID" type="xsd:string"/>
	<xsd:element name="LocaleCode" type="CodeType"/>
	<xsd:element name="Location" type="xsd:string"/>
	<xsd:element name="LocationID" type="xsd:string"/>
	<xsd:element name="LocationTypeCode" type="CodeType"/>
	<xsd:element name="Login" type="xsd:string"/>
	<xsd:element name="LogoReferenceID" type="xsd:string"/>
	<xsd:element name="LongitudeDegreesMeasure" type="QuantityType"/>
	<xsd:element name="LongitudeDirectionCode" type="CodeType"/>
	<xsd:element name="LongitudeMinutesMeasure" type="QuantityType"/>
	<xsd:element name="LossRisk" type="xsd:string"/>
	<xsd:element name="LossRiskResponsibilityCode" type="CodeType"/>
	<xsd:element name="LotNumberID" type="xsd:string"/>
	<xsd:element name="LowTendersDescription" type="xsd:decimal"/>
	<xsd:element name="LowerOrangeHazardPlacardID" type="xsd:string"/>
	<xsd:element name="LowerTenderAmount" type="AmountType"/>
	<xsd:element name="MandateTypeCode" type="CodeType"/>
	<xsd:element name="ManufactureDate" type="xsd:date"/>
	<xsd:element name="ManufactureTime" type="xsd:time"/>
	<xsd:element name="MarkAttention" type="xsd:string"/>
	<xsd:element name="MarkAttentionIndicator" type="xsd:boolean"/>
	<xsd:element name="MarkCare" type="xsd:string"/>
	<xsd:element name="MarkCareIndicator" type="xsd:boolean"/>
	<xsd:element name="MarketValueAmount" type="AmountType"/>
	<xsd:element name="MarkingID" type="xsd:string"/>
	<xsd:element name="MathematicOperatorCode" type="CodeType"/>
	<xsd:element name="MaximumAdvertisementAmount" type="AmountType"/>
	<xsd:element name="MaximumAmount" type="AmountType"/>
	<xsd:element name="MaximumBackorderQuantity" type="QuantityType"/>
	<xsd:element name="MaximumCopiesNumeric" type="xsd:decimal"/>
	<xsd:element name="MaximumMeasure" type="QuantityType"/>
	<xsd:element name="MaximumNumberNumeric" type="xsd:decimal"/>
	<xsd:element name="MaximumOperatorQuantity" type="QuantityType"/>
	<xsd:element name="MaximumOrderQuantity" type="QuantityType"/>
	<xsd:element name="MaximumPaidAmount" type="AmountType"/>
	<xsd:element name="MaximumPaymentInstructionsNumeric" type="xsd:decimal"/>
	<xsd:element name="MaximumPercent" type="xsd:decimal"/>
	<xsd:element name="MaximumQuantity" type="QuantityType"/>
	<xsd:element name="MaximumValue" type="xsd:string"/>
	<xsd:element name="MaximumVariantQuantity" type="QuantityType"/>
	<xsd:element name="Measure" type="QuantityType"/>
	<xsd:element name="MedicalFirstAidGuideCode" type="CodeType"/>
	<xsd:element name="MeterConstant" type="xsd:string"/>
	<xsd:element name="MeterConstantCode" type="CodeType"/>
	<xsd:element name="MeterName" type="xsd:string"/>
	<xsd:element name="MeterNumber" type="xsd:string"/>
	<xsd:element name="MeterReadingComments" type="xsd:string"/>
	<xsd:element name="MeterReadingType" type="xsd:string"/>
	<xsd:element name="MeterReadingTypeCode" type="CodeType"/>
	<xsd:element name="MiddleName" type="xsd:string"/>
	<xsd:element name="MimeCode" type="CodeType"/>
	<xsd:element name="MinimumAmount" type="AmountType"/>
	<xsd:element name="MinimumBackorderQuantity" type="QuantityType"/>
	<xsd:element name="MinimumImprovementBid" type="xsd:string"/>
	<xsd:element name="MinimumInventoryQuantity" type="QuantityType"/>
	<xsd:element name="MinimumMeasure" type="QuantityType"/>
	<xsd:element name="MinimumNumberNumeric" type="xsd:decimal"/>
	<xsd:element name="MinimumOrderQuantity" type="QuantityType"/>
	<xsd:element name="MinimumPercent" type="xsd:decimal"/>
	<xsd:element name="MinimumQuantity" type="QuantityType"/>
	<xsd:element name="MinimumValue" type="xsd:string"/>
	<xsd:element name="MiscellaneousEventTypeCode" type="CodeType"/>
	<xsd:element name="ModelName" type="xsd:string"/>
	<xsd:element name="MonetaryScope" type="xsd:string"/>
	<xsd:element name="MovieTitle" type="xsd:string"/>
	<xsd:element name="MultipleOrderQuantity" type="QuantityType"/>
	<xsd:element name="MultiplierFactorNumeric" type="xsd:decimal"/>
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="NameCode" type="CodeType"/>
	<xsd:element name="NameSuffix" type="xsd:string"/>
	<xsd:element name="NationalityID" type="xsd:string"/>
	<xsd:element name="NatureCode" type="CodeType"/>
	<xsd:element name="NegotiationDescription" type="xsd:decimal"/>
	<xsd:element name="NetNetWeightMeasure" type="QuantityType"/>
	<xsd:element name="NetTonnageMeasure" type="QuantityType"/>
	<xsd:element name="NetVolumeMeasure" type="QuantityType"/>
	<xsd:element name="NetWeightMeasure" type="QuantityType"/>
	<xsd:element name="NetworkID" type="xsd:string"/>
	<xsd:element name="NominationDate" type="xsd:date"/>
	<xsd:element name="NominationTime" type="xsd:time"/>
	<xsd:element name="NormalTemperatureReductionQuantity" type="QuantityType"/>
	<xsd:element name="Note" type="xsd:string"/>
	<xsd:element name="NotificationTypeCode" type="CodeType"/>
	<xsd:element name="OccurrenceDate" type="xsd:date"/>
	<xsd:element name="OccurrenceTime" type="xsd:time"/>
	<xsd:element name="OnCarriageIndicator" type="xsd:boolean"/>
	<xsd:element name="OneTimeChargeType" type="xsd:string"/>
	<xsd:element name="OneTimeChargeTypeCode" type="CodeType"/>
	<xsd:element name="OntologyURI" type="xsd:string"/>
	<xsd:element name="OpenTenderID" type="xsd:string"/>
	<xsd:element name="OperatingYearsQuantity" type="QuantityType"/>
	<xsd:element name="OptionalLineItemIndicator" type="xsd:boolean"/>
	<xsd:element name="OptionsDescription" type="xsd:decimal"/>
	<xsd:element name="OrderIntervalDaysNumeric" type="xsd:decimal"/>
	<xsd:element name="OrderQuantityIncrementNumeric" type="xsd:decimal"/>
	<xsd:element name="OrderResponseCode" type="CodeType"/>
	<xsd:element name="OrderTypeCode" type="CodeType"/>
	<xsd:element name="OrderableIndicator" type="xsd:boolean"/>
	<xsd:element name="OrderableUnit" type="xsd:string"/>
	<xsd:element name="OrderableUnitFactorRate" type="xsd:decimal"/>
	<xsd:element name="OrganizationDepartment" type="xsd:string"/>
	<xsd:element name="OriginalContractingSystemID" type="xsd:string"/>
	<xsd:element name="OriginalJobID" type="xsd:string"/>
	<xsd:element name="OtherConditionsIndicator" type="xsd:boolean"/>
	<xsd:element name="OtherInstruction" type="xsd:string"/>
	<xsd:element name="OtherName" type="xsd:string"/>
	<xsd:element name="OutstandingQuantity" type="QuantityType"/>
	<xsd:element name="OutstandingReason" type="xsd:string"/>
	<xsd:element name="OversupplyQuantity" type="QuantityType"/>
	<xsd:element name="OwnerTypeCode" type="CodeType"/>
	<xsd:element name="PackLevelCode" type="CodeType"/>
	<xsd:element name="PackQuantity" type="QuantityType"/>
	<xsd:element name="PackSizeNumeric" type="xsd:decimal"/>
	<xsd:element name="PackageLevelCode" type="CodeType"/>
	<xsd:element name="PackagingTypeCode" type="CodeType"/>
	<xsd:element name="PackingCriteriaCode" type="CodeType"/>
	<xsd:element name="PackingMaterial" type="xsd:string"/>
	<xsd:element name="PaidAmount" type="AmountType"/>
	<xsd:element name="PaidDate" type="xsd:date"/>
	<xsd:element name="PaidTime" type="xsd:time"/>
	<xsd:element name="ParentDocumentID" type="xsd:string"/>
	<xsd:element name="ParentDocumentLineReferenceID" type="xsd:string"/>
	<xsd:element name="ParentDocumentTypeCode" type="CodeType"/>
	<xsd:element name="ParentDocumentVersionID" type="xsd:string"/>
	<xsd:element name="PartPresentationCode" type="CodeType"/>
	<xsd:element name="PartecipationPercent" type="xsd:decimal"/>
	<xsd:element name="PartialDeliveryIndicator" type="xsd:boolean"/>
	<xsd:element name="ParticipationPercent" type="xsd:decimal"/>
	<xsd:element name="PartyCapacityAmount" type="AmountType"/>
	<xsd:element name="PartyType" type="xsd:string"/>
	<xsd:element name="PartyTypeCode" type="CodeType"/>
	<xsd:element name="PassengerQuantity" type="QuantityType"/>
	<xsd:element name="Password" type="xsd:string"/>
	<xsd:element name="PayPerView" type="xsd:string"/>
	<xsd:element name="PayableAlternativeAmount" type="AmountType"/>
	<xsd:element name="PayableAmount" type="AmountType"/>
	<xsd:element name="PayableRoundingAmount" type="AmountType"/>
	<xsd:element name="PayerReference" type="xsd:string"/>
	<xsd:element name="PaymentAlternativeCurrencyCode" type="CodeType"/>
	<xsd:element name="PaymentChannelCode" type="CodeType"/>
	<xsd:element name="PaymentConditions" type="xsd:string"/>
	<xsd:element name="PaymentCurrencyCode" type="CodeType"/>
	<xsd:element name="PaymentDates" type="xsd:string"/>
	<xsd:element name="PaymentDescription" type="xsd:decimal"/>
	<xsd:element name="PaymentDueDate" type="xsd:date"/>
	<xsd:element name="PaymentFrequencyCode" type="CodeType"/>
	<xsd:element name="PaymentID" type="xsd:string"/>
	<xsd:element name="PaymentMeansCode" type="CodeType"/>
	<xsd:element name="PaymentMeansID" type="xsd:string"/>
	<xsd:element name="PaymentNote" type="xsd:string"/>
	<xsd:element name="PaymentOrderReference" type="xsd:string"/>
	<xsd:element name="PaymentPercent" type="xsd:decimal"/>
	<xsd:element name="PaymentPurposeCode" type="CodeType"/>
	<xsd:element name="PaymentTermsDetailsURI" type="xsd:string"/>
	<xsd:element name="PenaltyAmount" type="AmountType"/>
	<xsd:element name="PenaltySurchargePercent" type="xsd:decimal"/>
	<xsd:element name="PerUnitAmount" type="AmountType"/>
	<xsd:element name="Percent" type="xsd:decimal"/>
	<xsd:element name="PerformanceMetricTypeCode" type="CodeType"/>
	<xsd:element name="PerformanceValueQuantity" type="QuantityType"/>
	<xsd:element name="PerformingCarrierAssignedID" type="xsd:string"/>
	<xsd:element name="PersonalSituation" type="xsd:string"/>
	<xsd:element name="PhoneNumber" type="xsd:string"/>
	<xsd:element name="PlacardEndorsement" type="xsd:string"/>
	<xsd:element name="PlacardNotation" type="xsd:string"/>
	<xsd:element name="PlannedDate" type="xsd:date"/>
	<xsd:element name="PlotIdentification" type="xsd:string"/>
	<xsd:element name="PositionCode" type="CodeType"/>
	<xsd:element name="PostEventNotificationDurationMeasure" type="QuantityType"/>
	<xsd:element name="PostalZone" type="xsd:string"/>
	<xsd:element name="Postbox" type="xsd:string"/>
	<xsd:element name="PowerIndicator" type="xsd:boolean"/>
	<xsd:element name="PreCarriageIndicator" type="xsd:boolean"/>
	<xsd:element name="PreEventNotificationDurationMeasure" type="QuantityType"/>
	<xsd:element name="PreferenceCriterionCode" type="CodeType"/>
	<xsd:element name="PrepaidAmount" type="AmountType"/>
	<xsd:element name="PrepaidIndicator" type="xsd:boolean"/>
	<xsd:element name="PrepaidPaymentReferenceID" type="xsd:string"/>
	<xsd:element name="PreviousCancellationReasonCode" type="CodeType"/>
	<xsd:element name="PreviousJobID" type="xsd:string"/>
	<xsd:element name="PreviousMeterQuantity" type="QuantityType"/>
	<xsd:element name="PreviousMeterReadingDate" type="xsd:date"/>
	<xsd:element name="PreviousMeterReadingMethod" type="xsd:string"/>
	<xsd:element name="PreviousMeterReadingMethodCode" type="CodeType"/>
	<xsd:element name="PreviousVersionID" type="xsd:string"/>
	<xsd:element name="PriceAmount" type="AmountType"/>
	<xsd:element name="PriceChangeReason" type="xsd:string"/>
	<xsd:element name="PriceEvaluationCode" type="CodeType"/>
	<xsd:element name="PriceRevisionFormulaDescription" type="xsd:decimal"/>
	<xsd:element name="PriceType" type="xsd:string"/>
	<xsd:element name="PriceTypeCode" type="CodeType"/>
	<xsd:element name="PricingCurrencyCode" type="CodeType"/>
	<xsd:element name="PricingUpdateRequestIndicator" type="xsd:boolean"/>
	<xsd:element name="PrimaryAccountNumberID" type="xsd:string"/>
	<xsd:element name="PrintQualifier" type="xsd:string"/>
	<xsd:element name="Priority" type="xsd:string"/>
	<xsd:element name="PrivacyCode" type="CodeType"/>
	<xsd:element name="PrizeDescription" type="xsd:decimal"/>
	<xsd:element name="PrizeIndicator" type="xsd:boolean"/>
	<xsd:element name="ProcedureCode" type="CodeType"/>
	<xsd:element name="ProcessDescription" type="xsd:decimal"/>
	<xsd:element name="ProcessReason" type="xsd:string"/>
	<xsd:element name="ProcessReasonCode" type="CodeType"/>
	<xsd:element name="ProcurementSubTypeCode" type="CodeType"/>
	<xsd:element name="ProcurementTypeCode" type="CodeType"/>
	<xsd:element name="ProductImage" type="BinaryObjectType"/>
	<xsd:element name="ProductTraceID" type="xsd:string"/>
	<xsd:element name="ProfileExecutionID" type="xsd:string"/>
	<xsd:element name="ProfileID" type="xsd:string"/>
	<xsd:element name="ProfileStatusCode" type="CodeType"/>
	<xsd:element name="ProgressPercent" type="xsd:decimal"/>
	<xsd:element name="PromotionalEventTypeCode" type="CodeType"/>
	<xsd:element name="ProviderTypeCode" type="CodeType"/>
	<xsd:element name="PublishAwardIndicator" type="xsd:boolean"/>
	<xsd:element name="Purpose" type="xsd:string"/>
	<xsd:element name="PurposeCode" type="CodeType"/>
	<xsd:element name="QualityControlCode" type="CodeType"/>
	<xsd:element name="QualityParameter" type="xsd:string"/>
	<xsd:element name="Quantity" type="QuantityType"/>
	<xsd:element name="QuantityDiscrepancyCode" type="CodeType"/>
	<xsd:element name="RadioCallSignID" type="xsd:string"/>
	<xsd:element name="RailCarID" type="xsd:string"/>
	<xsd:element name="Rank" type="xsd:string"/>
	<xsd:element name="Rate" type="xsd:decimal"/>
	<xsd:element name="ReceiptAdviceTypeCode" type="CodeType"/>
	<xsd:element name="ReceivedDate" type="xsd:date"/>
	<xsd:element name="ReceivedElectronicTenderQuantity" type="QuantityType"/>
	<xsd:element name="ReceivedForeignTenderQuantity" type="QuantityType"/>
	<xsd:element name="ReceivedQuantity" type="QuantityType"/>
	<xsd:element name="ReceivedTenderQuantity" type="QuantityType"/>
	<xsd:element name="Reference" type="xsd:string"/>
	<xsd:element name="ReferenceDate" type="xsd:date"/>
	<xsd:element name="ReferenceEventCode" type="CodeType"/>
	<xsd:element name="ReferenceID" type="xsd:string"/>
	<xsd:element name="ReferenceTime" type="xsd:time"/>
	<xsd:element name="ReferencedConsignmentID" type="xsd:string"/>
	<xsd:element name="RefrigeratedIndicator" type="xsd:boolean"/>
	<xsd:element name="RefrigerationOnIndicator" type="xsd:boolean"/>
	<xsd:element name="Region" type="xsd:string"/>
	<xsd:element name="RegisteredDate" type="xsd:date"/>
	<xsd:element name="RegisteredTime" type="xsd:time"/>
	<xsd:element name="RegistrationDate" type="xsd:date"/>
	<xsd:element name="RegistrationExpirationDate" type="xsd:date"/>
	<xsd:element name="RegistrationID" type="xsd:string"/>
	<xsd:element name="RegistrationName" type="xsd:string"/>
	<xsd:element name="RegistrationNationality" type="xsd:string"/>
	<xsd:element name="RegistrationNationalityID" type="xsd:string"/>
	<xsd:element name="RegulatoryDomain" type="xsd:string"/>
	<xsd:element name="RejectActionCode" type="CodeType"/>
	<xsd:element name="RejectReason" type="xsd:string"/>
	<xsd:element name="RejectReasonCode" type="CodeType"/>
	<xsd:element name="RejectedQuantity" type="QuantityType"/>
	<xsd:element name="RejectionNote" type="xsd:string"/>
	<xsd:element name="ReleaseID" type="xsd:string"/>
	<xsd:element name="ReliabilityPercent" type="xsd:decimal"/>
	<xsd:element name="Remarks" type="xsd:string"/>
	<xsd:element name="ReminderSequenceNumeric" type="xsd:decimal"/>
	<xsd:element name="ReminderTypeCode" type="CodeType"/>
	<xsd:element name="ReplenishmentOwnerDescription" type="xsd:decimal"/>
	<xsd:element name="RequestForQuotationLineID" type="xsd:string"/>
	<xsd:element name="RequestedDeliveryDate" type="xsd:date"/>
	<xsd:element name="RequestedDespatchDate" type="xsd:date"/>
	<xsd:element name="RequestedDespatchTime" type="xsd:time"/>
	<xsd:element name="RequestedInvoiceCurrencyCode" type="CodeType"/>
	<xsd:element name="RequestedPublicationDate" type="xsd:date"/>
	<xsd:element name="RequiredCurriculaIndicator" type="xsd:boolean"/>
	<xsd:element name="RequiredCustomsID" type="xsd:string"/>
	<xsd:element name="RequiredDeliveryDate" type="xsd:date"/>
	<xsd:element name="RequiredDeliveryTime" type="xsd:time"/>
	<xsd:element name="RequiredFeeAmount" type="AmountType"/>
	<xsd:element name="ResidenceType" type="xsd:string"/>
	<xsd:element name="ResidenceTypeCode" type="CodeType"/>
	<xsd:element name="ResidentOccupantsNumeric" type="xsd:decimal"/>
	<xsd:element name="Resolution" type="xsd:string"/>
	<xsd:element name="ResolutionCode" type="CodeType"/>
	<xsd:element name="ResolutionDate" type="xsd:date"/>
	<xsd:element name="ResolutionTime" type="xsd:time"/>
	<xsd:element name="ResponseCode" type="CodeType"/>
	<xsd:element name="ResponseDate" type="xsd:date"/>
	<xsd:element name="ResponseTime" type="xsd:time"/>
	<xsd:element name="RetailEventName" type="xsd:string"/>
	<xsd:element name="RetailEventStatusCode" type="CodeType"/>
	<xsd:element name="ReturnabilityIndicator" type="xsd:boolean"/>
	<xsd:element name="ReturnableMaterialIndicator" type="xsd:boolean"/>
	<xsd:element name="ReturnableQuantity" type="QuantityType"/>
	<xsd:element name="RevisedForecastLineID" type="xsd:string"/>
	<xsd:element name="RevisionDate" type="xsd:date"/>
	<xsd:element name="RevisionStatusCode" type="CodeType"/>
	<xsd:element name="RevisionTime" type="xsd:time"/>
	<xsd:element name="RoamingPartnerName" type="xsd:string"/>
	<xsd:element name="RoleCode" type="CodeType"/>
	<xsd:element name="RoleDescription" type="xsd:decimal"/>
	<xsd:element name="Room" type="xsd:string"/>
	<xsd:element name="RoundingAmount" type="AmountType"/>
	<xsd:element name="SafetyDataSheet" type="BinaryObjectType"/>
	<xsd:element name="SalesOrderID" type="xsd:string"/>
	<xsd:element name="SalesOrderLineID" type="xsd:string"/>
	<xsd:element name="SchemeURI" type="xsd:string"/>
	<xsd:element name="SealIssuerTypeCode" type="CodeType"/>
	<xsd:element name="SealStatusCode" type="CodeType"/>
	<xsd:element name="SealingPartyType" type="xsd:string"/>
	<xsd:element name="SecurityClassificationCode" type="CodeType"/>
	<xsd:element name="SecurityID" type="xsd:string"/>
	<xsd:element name="SellerEventID" type="xsd:string"/>
	<xsd:element name="SequenceID" type="xsd:string"/>
	<xsd:element name="SequenceNumberID" type="xsd:string"/>
	<xsd:element name="SequenceNumeric" type="xsd:decimal"/>
	<xsd:element name="SerialID" type="xsd:string"/>
	<xsd:element name="ServiceInformationPreferenceCode" type="CodeType"/>
	<xsd:element name="ServiceName" type="xsd:string"/>
	<xsd:element name="ServiceNumberCalled" type="xsd:string"/>
	<xsd:element name="ServiceType" type="xsd:string"/>
	<xsd:element name="ServiceTypeCode" type="CodeType"/>
	<xsd:element name="SettlementDiscountAmount" type="AmountType"/>
	<xsd:element name="SettlementDiscountPercent" type="xsd:decimal"/>
	<xsd:element name="SharesNumberQuantity" type="QuantityType"/>
	<xsd:element name="ShippingMarks" type="xsd:string"/>
	<xsd:element name="ShippingOrderID" type="xsd:string"/>
	<xsd:element name="ShippingPriorityLevelCode" type="CodeType"/>
	<xsd:element name="ShipsRequirements" type="xsd:string"/>
	<xsd:element name="ShortQuantity" type="QuantityType"/>
	<xsd:element name="ShortageActionCode" type="CodeType"/>
	<xsd:element name="SignatureID" type="xsd:string"/>
	<xsd:element name="SignatureMethod" type="xsd:string"/>
	<xsd:element name="SizeTypeCode" type="CodeType"/>
	<xsd:element name="SoleProprietorshipIndicator" type="xsd:boolean"/>
	<xsd:element name="SourceCurrencyBaseRate" type="xsd:decimal"/>
	<xsd:element name="SourceCurrencyCode" type="CodeType"/>
	<xsd:element name="SourceForecastIssueDate" type="xsd:date"/>
	<xsd:element name="SourceForecastIssueTime" type="xsd:time"/>
	<xsd:element name="SourceValueMeasure" type="QuantityType"/>
	<xsd:element name="SpecialInstructions" type="xsd:string"/>
	<xsd:element name="SpecialSecurityIndicator" type="xsd:boolean"/>
	<xsd:element name="SpecialServiceInstructions" type="xsd:string"/>
	<xsd:element name="SpecialTerms" type="xsd:string"/>
	<xsd:element name="SpecialTransportRequirements" type="xsd:string"/>
	<xsd:element name="SpecificationID" type="xsd:string"/>
	<xsd:element name="SpecificationTypeCode" type="CodeType"/>
	<xsd:element name="SplitConsignmentIndicator" type="xsd:boolean"/>
	<xsd:element name="StartDate" type="xsd:date"/>
	<xsd:element name="StartTime" type="xsd:time"/>
	<xsd:element name="StatementTypeCode" type="CodeType"/>
	<xsd:element name="StatusAvailableIndicator" type="xsd:boolean"/>
	<xsd:element name="StatusCode" type="CodeType"/>
	<xsd:element name="StatusReason" type="xsd:string"/>
	<xsd:element name="StatusReasonCode" type="CodeType"/>
	<xsd:element name="StreetName" type="xsd:string"/>
	<xsd:element name="SubcontractingConditionsCode" type="CodeType"/>
	<xsd:element name="SubmissionDate" type="xsd:date"/>
	<xsd:element name="SubmissionDueDate" type="xsd:date"/>
	<xsd:element name="SubmissionMethodCode" type="CodeType"/>
	<xsd:element name="SubscriberID" type="xsd:string"/>
	<xsd:element name="SubscriberType" type="xsd:string"/>
	<xsd:element name="SubscriberTypeCode" type="CodeType"/>
	<xsd:element name="SubstitutionStatusCode" type="CodeType"/>
	<xsd:element name="SuccessiveSequenceID" type="xsd:string"/>
	<xsd:element name="SummaryDescription" type="xsd:decimal"/>
	<xsd:element name="SupplierAssignedAccountID" type="xsd:string"/>
	<xsd:element name="SupplyChainActivityTypeCode" type="CodeType"/>
	<xsd:element name="TareWeightMeasure" type="QuantityType"/>
	<xsd:element name="TargetCurrencyBaseRate" type="xsd:decimal"/>
	<xsd:element name="TargetCurrencyCode" type="CodeType"/>
	<xsd:element name="TargetInventoryQuantity" type="QuantityType"/>
	<xsd:element name="TargetServicePercent" type="xsd:decimal"/>
	<xsd:element name="TariffClassCode" type="CodeType"/>
	<xsd:element name="TariffCode" type="CodeType"/>
	<xsd:element name="TariffDescription" type="xsd:decimal"/>
	<xsd:element name="TaxAmount" type="AmountType"/>
	<xsd:element name="TaxCurrencyCode" type="CodeType"/>
	<xsd:element name="TaxEnergyAmount" type="AmountType"/>
	<xsd:element name="TaxEnergyBalanceAmount" type="AmountType"/>
	<xsd:element name="TaxEnergyOnAccountAmount" type="AmountType"/>
	<xsd:element name="TaxEvidenceIndicator" type="xsd:boolean"/>
	<xsd:element name="TaxExclusiveAmount" type="AmountType"/>
	<xsd:element name="TaxExemptionReason" type="xsd:string"/>
	<xsd:element name="TaxExemptionReasonCode" type="CodeType"/>
	<xsd:element name="TaxIncludedIndicator" type="xsd:boolean"/>
	<xsd:element name="TaxInclusiveAmount" type="AmountType"/>
	<xsd:element name="TaxLevelCode" type="CodeType"/>
	<xsd:element name="TaxPointDate" type="xsd:date"/>
	<xsd:element name="TaxTypeCode" type="CodeType"/>
	<xsd:element name="TaxableAmount" type="AmountType"/>
	<xsd:element name="TechnicalAdviceSupport" type="xsd:boolean"/>
	<xsd:element name="TechnicalCommitteeDescription" type="xsd:decimal"/>	
	<xsd:element name="TechnicalName" type="xsd:string"/>
	<xsd:element name="TelecommunicationsServiceCall" type="xsd:string"/>
	<xsd:element name="TelecommunicationsServiceCallCode" type="CodeType"/>
	<xsd:element name="TelecommunicationsServiceCategory" type="xsd:string"/>
	<xsd:element name="TelecommunicationsServiceCategoryCode" type="CodeType"/>
	<xsd:element name="TelecommunicationsSupplyType" type="xsd:string"/>
	<xsd:element name="TelecommunicationsSupplyTypeCode" type="CodeType"/>
	<xsd:element name="Telefax" type="xsd:string"/>
	<xsd:element name="Telephone" type="xsd:string"/>
	<xsd:element name="TenderEnvelopeID" type="xsd:string"/>
	<xsd:element name="TenderEnvelopeTypeCode" type="CodeType"/>
	<xsd:element name="TenderResultCode" type="CodeType"/>
	<xsd:element name="TenderTypeCode" type="CodeType"/>
	<xsd:element name="TendererRequirementTypeCode" type="CodeType"/>
	<xsd:element name="TendererRoleCode" type="CodeType"/>
	<xsd:element name="TestMethod" type="xsd:string"/>
	<xsd:element name="Text" type="xsd:string"/>
	<xsd:element name="ThirdPartyPayerIndicator" type="xsd:boolean"/>
	<xsd:element name="ThresholdAmount" type="AmountType"/>
	<xsd:element name="ThresholdQuantity" type="QuantityType"/>
	<xsd:element name="ThresholdValueComparisonCode" type="CodeType"/>
	<xsd:element name="TierRange" type="xsd:string"/>
	<xsd:element name="TierRatePercent" type="xsd:decimal"/>
	<xsd:element name="TimeAmount" type="AmountType"/>
	<xsd:element name="TimeDeltaDaysQuantity" type="QuantityType"/>
	<xsd:element name="TimeFrequencyCode" type="CodeType"/>
	<xsd:element name="TimezoneOffset" type="xsd:string"/>
	<xsd:element name="TimingComplaint" type="xsd:string"/>
	<xsd:element name="TimingComplaintCode" type="CodeType"/>
	<xsd:element name="Title" type="xsd:string"/>
	<xsd:element name="ToOrderIndicator" type="xsd:boolean"/>
	<xsd:element name="TotalAmount" type="AmountType"/>
	<xsd:element name="TotalBalanceAmount" type="AmountType"/>
	<xsd:element name="TotalConsumedQuantity" type="QuantityType"/>
	<xsd:element name="TotalCreditAmount" type="AmountType"/>
	<xsd:element name="TotalDebitAmount" type="AmountType"/>
	<xsd:element name="TotalDeliveredQuantity" type="QuantityType"/>
	<xsd:element name="TotalGoodsItemQuantity" type="QuantityType"/>
	<xsd:element name="TotalInvoiceAmount" type="AmountType"/>
	<xsd:element name="TotalMeteredQuantity" type="QuantityType"/>
	<xsd:element name="TotalPackageQuantity" type="QuantityType"/>
	<xsd:element name="TotalPackagesQuantity" type="QuantityType"/>
	<xsd:element name="TotalPaymentAmount" type="AmountType"/>
	<xsd:element name="TotalTaskAmount" type="AmountType"/>
	<xsd:element name="TotalTaxAmount" type="AmountType"/>
	<xsd:element name="TotalTransportHandlingUnitQuantity" type="QuantityType"/>
	<xsd:element name="TraceID" type="xsd:string"/>
	<xsd:element name="TrackingDeviceCode" type="CodeType"/>
	<xsd:element name="TrackingID" type="xsd:string"/>
	<xsd:element name="TradeItemPackingLabelingTypeCode" type="CodeType"/>
	<xsd:element name="TradeServiceCode" type="CodeType"/>
	<xsd:element name="TradingRestrictions" type="xsd:string"/>
	<xsd:element name="TrainID" type="xsd:string"/>
	<xsd:element name="TransactionCurrencyTaxAmount" type="AmountType"/>
	<xsd:element name="TransitDirectionCode" type="CodeType"/>
	<xsd:element name="TransportAuthorizationCode" type="CodeType"/>
	<xsd:element name="TransportEmergencyCardCode" type="CodeType"/>
	<xsd:element name="TransportEquipmentTypeCode" type="CodeType"/>
	<xsd:element name="TransportEventTypeCode" type="CodeType"/>
	<xsd:element name="TransportExecutionPlanReferenceID" type="xsd:string"/>
	<xsd:element name="TransportExecutionStatusCode" type="CodeType"/>
	<xsd:element name="TransportHandlingUnitTypeCode" type="CodeType"/>
	<xsd:element name="TransportMeansTypeCode" type="CodeType"/>
	<xsd:element name="TransportModeCode" type="CodeType"/>
	<xsd:element name="TransportServiceCode" type="CodeType"/>
	<xsd:element name="TransportServiceProviderRemarks" type="xsd:string"/>
	<xsd:element name="TransportServiceProviderSpecialTerms" type="xsd:string"/>
	<xsd:element name="TransportUserRemarks" type="xsd:string"/>
	<xsd:element name="TransportUserSpecialTerms" type="xsd:string"/>
	<xsd:element name="TransportationServiceDescription" type="xsd:decimal"/>
	<xsd:element name="TransportationServiceDetailsURI" type="xsd:string"/>
	<xsd:element name="TransportationStatusTypeCode" type="CodeType"/>
	<xsd:element name="TypeCode" type="CodeType"/>
	<xsd:element name="UBLVersionID" type="xsd:string"/>
	<xsd:element name="UNDGCode" type="CodeType"/>
	<xsd:element name="URI" type="xsd:string"/>
	<xsd:element name="UUID" type="xsd:string"/>
	<xsd:element name="UnknownPriceIndicator" type="xsd:boolean"/>
	<xsd:element name="UpperOrangeHazardPlacardID" type="xsd:string"/>
	<xsd:element name="UrgencyCode" type="CodeType"/>
	<xsd:element name="UtilityStatementTypeCode" type="CodeType"/>
	<xsd:element name="ValidateProcess" type="xsd:string"/>
	<xsd:element name="ValidateTool" type="xsd:string"/>
	<xsd:element name="ValidateToolVersion" type="xsd:string"/>
	<xsd:element name="ValidationDate" type="xsd:date"/>
	<xsd:element name="ValidationResultCode" type="CodeType"/>
	<xsd:element name="ValidationTime" type="xsd:time"/>
	<xsd:element name="ValidatorID" type="xsd:string"/>
	<xsd:element name="ValidityStartDate" type="xsd:date"/>
	<xsd:element name="Value" type="xsd:string"/>
	<xsd:element name="ValueAmount" type="AmountType"/>
	<xsd:element name="ValueBinary" type="BinaryObjectType"/>
	<xsd:element name="ValueDecimal" type="xsd:decimal"/>
	<xsd:element name="ValueMeasure" type="QuantityType"/>
	<xsd:element name="ValueQualifier" type="xsd:string"/>
	<xsd:element name="ValueQuantity" type="QuantityType"/>
	<xsd:element name="VarianceQuantity" type="QuantityType"/>
	<xsd:element name="VariantConstraintIndicator" type="xsd:boolean"/>
	<xsd:element name="VariantID" type="xsd:string"/>
	<xsd:element name="VersionID" type="xsd:string"/>
	<xsd:element name="VesselID" type="xsd:string"/>
	<xsd:element name="VesselName" type="xsd:string"/>
	<xsd:element name="WarrantyInformation" type="xsd:string"/>
	<xsd:element name="WebsiteURI" type="xsd:string"/>
	<xsd:element name="WeekDayCode" type="CodeType"/>
	<xsd:element name="Weight" type="xsd:string"/>
	<xsd:element name="WeightNumeric" type="xsd:decimal"/>
	<xsd:element name="WeightingAlgorithmCode" type="CodeType"/>
	<xsd:element name="WorkPhase" type="xsd:string"/>
	<xsd:element name="WorkPhaseCode" type="CodeType"/>
	<xsd:element name="XPath" type="xsd:string"/>
	<xsd:complexType name="AmountType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="currencyID" type="xsd:normalizedString" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BinaryObjectType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="mimeCode" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="fileName" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CodeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="name" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="listID" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="QuantityType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitID" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="unitCodeListID" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="unitCode" type="xsd:normalizedString" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
